@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito+Sans:wght@300;400;600;900&family=Archivo+Black&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Nunito', 'Nanum Gothic', sans-serif;
}
html, body {
  background: #1b1b1d;
  color: #ddd;
  touch-action: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ddd;
}
article > h2 {
  height: 0;
  text-indent: -9999px;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}