@charset "utf-8";
@font-face {
  font-family: 'Cinzel';
	src: url('../font/Cinzel-Regular.ttf') format('truetype');
	font-weight: bold;
	/* Mapo다카포만 bold를 하게 하려고 여기에 bold를 줌.
	왜? font-weight: bold일 때 이 font-face가 적용됨.
	지금 이 폰트 자체는 font-weight가 400임
	*/
}
@font-face {
	font-family: 'Mapo다카포';
	src: url('../font/MapoDacapo.ttf') format('truetype'),
	url('../font/MapoDacapo.otf') format('opentype');
	/* font-weight: bold를 줬을때 진짜 bold가 되게 하려고
	font-weight: bold를 쓰지 않음.*/
}
html, body, div, span, h1, h2, h3, p,
a, address, img, ol, ul, li, footer, header, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
	font-family: 'Mapo다카포', 'sans-serif';
	font-weight: bold;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #000;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}