@charset "utf-8";
@import "variable.scss";
@import "mixin.scss";
main {
  padding-top: 70px;
  color: #fff;
}
.about_wrap > div {
  height: 100vh;
}
.about_top {
  padding-top: 100px;
  text-align: center;
  position: relative;
  @include size(tablet) {
    padding-top: 30px;
  }
  @include size(desktop) {
    padding-top: 100px;
  }
  h2 {
    font-size: 28px;
    position: relative;
    opacity: 0;
    animation: fade 1.3s 0.1s forwards;
    @include size(tablet) {
      font-weight: bold;
    }
    @include size(desktop) {
      font-size: 42px;
    }
    @keyframes fade {
      to {
        opacity: 1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50px;
      width: 1px;
      height: 0px;
      background: #fff;
      left: 50%;
      transform: translateX(-50%);
      animation: line 0.3s 0.8s forwards;
      @keyframes line {
        to {
          height: 42px;
        }
      }
      @include size(desktop) {
        top: 90px;
        animation: line-desktop 0.3s 0.8s forwards;
        @keyframes line-desktop {
          to {
            height: 82px;
          }
        }
      }
    }
  }
}
.intro_koz {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 393px;
  background: url(../img/about_bg.png) no-repeat center;
  background-size: 60%;
  background-position: center 90px;
  padding: 80px 0 92px;
  @include size(tablet) {
    top: 55%;
  }
  @include size(desktop) {
    background-size: auto;
    background-position: center;
  }
  .intro_logo {
    margin-bottom: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    div {
      align-self: center;
      position: relative;
      margin: 0 10px;
      opacity: 0;
      animation: textDiv 2.3s 1.5s forwards;
      @keyframes textDiv {
        to {
          opacity: 1;
        }
      }
      @include size(tablet) {
        height: 160px;
        padding-top: 30px;
      }
      img {
        height: 40px;
        vertical-align: middle;
        @include size(tablet) {
          height: auto;
        }
        @include size(desktop) {
          vertical-align: bottom;
        }
      }
      img.ktext {
        animation: ktext 0.5s 3.5s forwards;
        @keyframes ktext {
          to {
            transform: translateX(68px);
          }
        }
        @include size(tablet) {
          animation: ktext-tablet 0.5s 3.5s forwards;
          @keyframes ktext-tablet {
            to {
              transform: translateX(85px);
            }
          }
        }
        @include size(desktop) {
          animation: ktext-desktop 0.5s 3.5s forwards;
          @keyframes ktext-desktop {
            to {
              transform: translateX(174px);
            }
          }
        }
      }
      img.otext {
        transition: 0.1s 4s;
        animation: otext 0.5s 3.5s forwards;
        @keyframes otext {
          to {
            transform: translateX(20px);
          }
        }
        &.active {
          opacity: 0;
        }
        @include size(tablet) {
          animation: otext-tablet 0.5s 3.5s forwards;
          @keyframes otext-tablet {
            to {
              transform: translateX(35px);
            }
          }
        }
        @include size(desktop) {
          animation: otext-desktop 0.5s 3.5s forwards;
          @keyframes otext-desktop {
            to {
              transform: translateX(82px);
            }
          }
        }
      }
      img.fireO {
        height: 69px;
        position: absolute;
        top: -25px;
        left: 15px;
        opacity: 0;
        animation: fireO 0.1s 4.2s forwards;
        @keyframes fireO {
          to {
            opacity: 1;
          }
        }
        @include size(tablet) {
          height: auto;
          top: -29px;
          left: 23px;
        }
        @include size(desktop) {
          left: 70px;
        }
      }
      img.ztext {
        opacity: 0;
        position: absolute;
        left: -10px;
        top: 0;
        transition: 0.5s 3.5s;
        animation: ztext 0.1s 2.8s forwards;
        @keyframes ztext {
          to {
            opacity: 1;
          }
        }
        &.active {
          transform: translateX(-26px);
        }
        @include size(tablet) {
          left: -10px;
          top: 30px;
        }
        @include size(desktop) {
          left: -20px;
        }
      }
      img.jtext {
        animation: jtext 0.1s 2.7s forwards;
        @keyframes jtext {
          to {
            opacity: 0;
          }
        }
      }
      span {
        color: $bgcolor-button;
        animation: smalltext 0.3s 3.5s forwards;
        @keyframes smalltext {
          to {
            opacity: 0;
          }
        }
        @include size(tablet) {
          font-size: 30px;
        }
        @include size(desktop) {
          font-size: 60px;
        }
      }
    }
    div:last-child span {
      @include size(tablet) {
        position: relative;
        top: -10px;
      }
      @include size(desktop) {
        top: -23px;
      }
    }
  }
  p {
    font-size: 13px;
    padding: 0 16px;
    opacity: 0;
    animation: textP 0.3s 3s forwards;
    @keyframes textP {
      to {
        opacity: 1;
      }
    }
    @include size(desktop) {
      font-size: 16px;
    }
    @include size(large-desktop) {
      font-size: 18px;
    }
  }
} // intro_koz

.about_bottom > div {
  position: relative;
  top: 26%;
  text-align: center;
  h4 {
    @include size(desktop) {
      font-size: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      width: 1px;
      height: 0px;
      background: #fff;
      left: 50%;
      transform: translateX(-50%);
      animation: line 0.3s 0.8s forwards;
      @keyframes line {
        to {
          height: 42px;
        }
      }
      @include size(desktop) {
        top: 65px;
        animation: line-desktop 0.3s 0.8s forwards;
      }
    }
  }
  & > div {
    padding-top: 12vh;
    @include size(desktop) {
      display: flex;
      justify-content: center;
      padding-top: 17vh;
    }
  }
  .line_text {
    font-size: 25px;
    line-height: 50px;
    opacity: 0;
    animation: fade 0.5s forwards;
    @include size(desktop) {
      display: none;
    }
    &:first-child {
      animation-delay: 6s;
    }
    &:nth-child(2) {
      animation-delay: 6.5s;
    }
    &:nth-child(3) {
      animation-delay: 7s;
    }
    &:nth-child(4) {
      animation-delay: 7.5s;
    }
  }
  .circle_text {
    display: none;
    @include size(desktop) {
      display: block;
      position: relative;
      margin-right: 20px;
      width: 180px;
      height: 180px;
      .circle {
        position: absolute;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 1px solid #6a6a6a;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        cursor: default;
        opacity: 0;
        animation: extend 0.5s forwards;
        @keyframes extend {
          to {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }
        }
      }
      .text {
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        opacity: 0;
        animation: fade 0.5s forwards;
      }
      &:nth-child(5) {
        .circle {
          animation-delay: 5s;
        }
        .text {
          animation-delay: 5.5s;
        }
      }
      &:nth-child(6) {
        .circle {
          animation-delay: 6s;
        }
        .text {
          animation-delay: 6.5s;
        }
      }
      &:nth-child(7) {
        .circle {
          animation-delay: 7s;
        }
        .text {
          animation-delay: 7.5s;
        }
      }
      &:last-child {
        margin-right: 0;
        .circle {
          animation-delay: 8s;
        }
        .text {
          animation-delay: 8.5s;
        }
      }
    }
  }
}
