@charset "utf-8";
#wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#wrap > div {
  transition: 1s;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 11;
    a {
      display: block;
      background: url(../img/logo_white.png) no-repeat;
      width: 190px;
      height: 26px;
    }
  }
}
.header_util {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 11;
  display: flex;
}
.svg_icon {
  display: flex;
  margin-right: 20px;
  li {
    margin-right: 15px;
  }
  path {
    fill: #fff;
  }
}
.util_tel {
  width: 32px;
  height: 32px;
}
.util_kakao {
  width: 36px;
  height: 30px;
}
.util_notice {
  width: 37px;
  height: 32px;
}
.menu_btn {
  display: block;
  width: 38px;
  height: 32px;
  position: relative;
  span {
    position: absolute;
    height: 2px;
    width: 38px;
    left:0;
    top: 0;
    background: #fff;
    &:nth-child(2) {
      width: 28px;
      top: 15px;
    }
    &:last-child {
      top: 30px;
    }
  }
}
.menu_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: none;
}
.center_box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    font-weight: normal;
  }
}
.inner_box {
  width: 100%;
  text-align: center;
}
.menu_logo {
  margin-bottom: 50px;
}
.menu_list {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
  li {
    margin-bottom: 30px;
    a {
      transition: .3s;
    }
    a:hover {
      letter-spacing: 3px;
      color: #999;
    }
  }
}
.side_btn {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index:20;
  li {
    margin-bottom: 20px;
    a {
      display: block;
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 50%;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top:-4px;
        left: -4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #fff;
        opacity: 0;
      }
      &.active::before {
        opacity: 1;
      }
    }
  }
}
.scroll_btn {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 150px;
  div {
    width: 1px;
    height: 70%;
    background: #fff;
    margin: 0 auto 10%;
  }
  span {
    display: block;
    font-size: 12px;
    height: 20%;
    text-align: center;
    color: #fff;
    line-height: 3;
  }
}
section {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: .5s;
}
.bg_media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.text {
  color:#fff;
  text-align: center;
  width: 100%;
}
.text_01 {
  p:first-child {
    font-size: 38px;
    font-weight: 200;
    letter-spacing: -1px;
  }
  h3 {
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -3px;
  }
  p:last-child {
    font-size: 50px;
    font-weight: 500;
  }
}
.text_02 {
  h3 {
    font-size: 46px;
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 1.3;
  }
  p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: -0.5px;
  }
}
.section06 .text {
  color: #000;
}
.section07, .section08, .section09 {
  background: #f4f4f4;
}
.sub_title {
  display: inline-block;
  font-size: 24px;
  color: #333;
  font-weight: 600;
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    background: #333;
    height: 1px;
    width: 35px;
  }
  &::before {
    top: -15px;
    left: 0;
  }
  &::after {
    bottom: -15px;
    right: 0;
  }
}
/* section07 */
.program_list {
  display: flex;
  margin-top: 100px;
  li:not(:last-child) {
    margin-right: 100px;
  }
  a {
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    &:hover {
      .img_box {
        opacity: 1;
      }
      .program_text {
        color: #fff;
      }
      circle, polygon, path {
        stroke: #fff;
      }
    }
    .img_box {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: .4s;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .figure {
      text-align: center;
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    svg {
      width: 252px;
      height: 252px;
    }
    circle, polygon, path {
      fill: none;
      stroke: #000;
      opacity: .3;
    }
    .program_text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      font-size: 38px;
      padding-left: 50px;
    }
  }
}
.inner_contents {
  text-align: center;
}
/* // section 07*/
/* section 08*/
.merit_list {
  display: flex;
  width: 1400px;
  margin-top: 100px;
  li {
    height: 300px;
    width: 33.333%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #ccc;
    &:last-child {
      border-right: 1px solid #ccc;
    }
    .merit_icon {
      margin-bottom: 30px;
    }
  }
}
/* // section08 */
/* section09 */
.media_notice_wrap {
  width: 1400px;
  height: 800px;
  .media {
    height: 500px;
  }
  .notice {
    height: 300px;
  }
  .media, .notice {
    display: flex;
  }
}
.btn_wrap {
  width: 200px;
  color: #333;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  div {
    margin-top: 10px;
  }
  button {
    cursor: pointer;
    width: 12px;
    height: 20px;
    display: inline-block;
    font-size: 0;
    background: url(../img/arrow.jpg) no-repeat;
  }
  button.right_btn {
    transform: scaleX(-1);
    margin-left: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 25px;
      width: 1px;
      height: 25px;
      background: #ddd;
    }
  }
}
.media_slide, .notice_slide {
  width: 1200px;
  overflow: hidden;
}
.media_slide ul {
  display: flex;
  width: 300%;
  li {
    width: 33.333%;
    padding: 40px 0;
  }
}
.notice_slide ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200%;
  height: 100%;
  color: #333;
  border-top: 2px solid #333;
  li {
    width: 50%;
    height: 50%;
    display: flex;
    border-bottom: 1px solid #ddd;
    a {
      display: flex;
      align-self: center;
      width: 100%;
    }
  }
  .date {
    width: 10%;
    font-size:15px;
    text-align: center;
    display: flex;
    justify-content: center;
    p {
      align-self: center;
    }
    strong {
      font-size: 30px;
      font-weight: 300;
    }
  }
  .heading {
    width: 80%;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    letter-spacing: -1px;
    p:last-child {
      margin-top: 10px;
      font-size: 17px;
      font-weight: 300;
      color: #666;
    }
  }
  .more_icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition:.3s;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background: #333;
        top: 24px;
        left: 10px;
        transition: .3s;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
  }
}
.notice_slide a:hover {
  span {
    background: #333;
    &::before, &::after {
      background: #fff;
    }
    &::before {
      transform: rotate(90deg);
    }
    &::after {
      transform: rotate(180deg);
    }
  }
}
footer {
  background: #f4f4f4;
}
.footer_wrap {
  position: relative;
  & > a {
    display: inline-block;
    width: 27px;
    height: 15px;
    position: absolute;
    right: 60px;
    bottom: 180px;
    background: url(../img/to_top.png) no-repeat;
  }
}
.footer_logo {
  text-align: center;
}
.footer_menu {
  display: flex;
  margin-top: 35px;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  li:not(:last-child) {
    margin-right: 70px;
  }
}
.footer_bottom {
  display: flex;
  margin: 35px 60px 0;
  padding: 35px 0;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}
.footer_left {
  display: flex;
  align-items: center;
  font-size: 15px;
  img {
    width: 152px;
  }
  p {
    margin-left: 35px;
  }
}
.footer_right ul {
  display: flex;
  text-align: center;
  font-size: 14px;
  li {
    margin-right: 8px;
  }
}
.shortcut {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #454545;
  line-height: 74px;
}