@charset "utf-8";
html, body {
	overflow-x: hidden;
}
.title {
	position: relative;
	left: -50px;
	font-size: 430px;
	white-space: nowrap;
}
.text_wrap {
	display: flex;
	padding-left: 300px;
}
.text:last-child {
	margin-left: 200px;
}
.text p:first-child {
	font-size: 36px;
}
.text p:last-child {
	font-size: 20px;
	margin-top: 50px;
}
.copy {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 14px;
}
@media (max-width: 1023px) {
	.title {
		left: -3%;
    font-size: 22.5vw;
	}
	.text_wrap {
		padding-left: 5%;
		margin-top: 15%;
	}
	.text:last-child {
    margin-left: 20%;
  }
	.text p:first-child {
    font-size: 3vw;
	}
	.text p:last-child {
    font-size: 2.5vw;
    margin-top: 40px;
	}
	.copy {
    font-size: 1.5vw;
  }
}
@media (max-width: 767px) {
	.title {
		padding-top: 20%;
	}
	.text p:first-child {
    font-size: 4vw;
	}
	.text p:last-child {
    font-size: 3.5vw;
  }
}