@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Ibarra Real Nova', serif;
}
html, body {
	background: #f2efe8;
	color: #000;
}
li { list-style: none;}
a {
	text-decoration: none;
	color: #000;
}
section h2 {
	text-indent: -9999px;
	height: 0;
}
table {
	border-collapse: collapse;
}